Package: enigma2-plugin-glasssysutil
Version: 13.36-w17
Architecture: all
Maintainer: Warder Evolution
Depends: enigma2
Description: Glass System Utility - Warder Evolution - modern Enigma2 system utility
